body {
    background: -moz-linear-gradient(270deg, rgba(122,7,94,1) 0%, rgba(176,14,204,1) 35%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(270deg, rgba(122,7,94,1) 0%, rgba(176,14,204,1) 35%, rgba(0,212,255,1) 100%);
    background: linear-gradient(270deg, rgba(122,7,94,1) 0%, rgba(176,14,204,1) 35%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7a075e",endColorstr="#00d4ff",GradientType=1);

    background-size: 1000% 1000%;

    -webkit-animation: gradientAnimation 10s ease infinite;
    -moz-animation: gradientAnimation 10s ease infinite;
    animation: gradientAnimation 10s ease infinite;
}

::placeholder {
    color: var(--lightGray) !important;
    font-weight: 500;
    font-size: medium;
}


.bubbles{
    position:absolute;
    width:100%;
    height: 100%;
    z-index:0;
    overflow:hidden;
    top:0;
    left:0;
}

.bubble{
    position: absolute;
    bottom:-100px;
    width:40px;
    height: 40px;
    background:#f1f1f1;
    border-radius:50%;
    opacity:0.5;
    animation: rise 10s infinite ease-in;
}

.bubble:nth-child(1){
    width:40px;
    height:40px;
    left:10%;
    animation-duration:8s;
}

.bubble:nth-child(2){
    width:20px;
    height:20px;
    left:20%;
    animation-duration:5s;
    animation-delay:1s;
}

.bubble:nth-child(3){
    width:50px;
    height:50px;
    left:35%;
    animation-duration:7s;
    animation-delay:2s;
}

.bubble:nth-child(4){
    width:80px;
    height:80px;
    left:50%;
    animation-duration:11s;
    animation-delay:0s;
}

.bubble:nth-child(5){
    width:35px;
    height:35px;
    left:55%;
    animation-duration:6s;
    animation-delay:1s;
}

.bubble:nth-child(6){
    width:45px;
    height:45px;
    left:65%;
    animation-duration:8s;
    animation-delay:3s;
}

.bubble:nth-child(7){
    width:90px;
    height:90px;
    left:70%;
    animation-duration:12s;
    animation-delay:2s;
}

.bubble:nth-child(8){
    width:25px;
    height:25px;
    left:80%;
    animation-duration:6s;
    animation-delay:2s;
}

.bubble:nth-child(9){
    width:15px;
    height:15px;
    left:70%;
    animation-duration:5s;
    animation-delay:1s;
}

.bubble:nth-child(10){
    width:90px;
    height:90px;
    left:25%;
    animation-duration:10s;
    animation-delay:4s;
}

.btn {
    border-radius: 0;
    border-bottom: 2px solid transparent;
    transition: all 0.5s ease-in-out;
}

.btn:focus {
    box-shadow: none !important;
    border: none !important;
}

.btn:hover {
    color: var(--darkPurple);
    border-bottom: 2px solid var(--lightGray);   
}

div.row {
    height: 100vh;
}

div.card {
    width: 50vh;
}

input:focus {
    box-shadow: none !important;
}

a#loginButton {
    border: none;
    border-radius: 20px;
    color: var(--white);
    font-weight: bold;
    background: rgb(0,212,255);
    background: radial-gradient(circle, rgba(122,7,94,1) 0%, rgba(0,212,255,1) 100%);
    transition: all 0.5s ease-in-out;    
}

a#loginButton:hover {
    background-position: 45vh;
}

a#signupButton {
    border: none;
    border-radius: 20px;
    color: var(--white);
    font-weight: bold;
    background: rgb(122,7,94);
    background: radial-gradient(circle, rgba(0,212,255,1) 0%, rgba(122,7,94,1) 100%);
    transition: all 0.5s ease-in-out;    
}

a#signupButton:hover {
    background-position: 45vh;
}

@-webkit-keyframes gradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes gradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes gradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes rise{
    0%{
      bottom:-100px;
      transform:translateX(0);
    }
    50%{
      transform:translate(100px);
    }
    100%{
      bottom:1080px;
      transform:translateX(-200px);
    }
}